<form [formGroup]="annonceForm" (ngSubmit)="onSubmit()">
  <mat-card class="custom-card">
    <mat-card-title>Déposer Une Annonce</mat-card-title>
    <mat-card-content>
      <div class="center-pic">
        <label for="imageFile">
          <img class="detail-image" [src]="imagePreview" alt="Annonce Image">
        </label>
        <input type="file" id="imageFile" class="file-input" (change)="onFileSelected($event)">
      </div>


      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput id="title" formControlName="title" type="text" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput id="price" formControlName="price" type="number" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Localisation</mat-label>
          <input
            matInput
            id="localisation"
            formControlName="localisation"
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select id="category" formControlName="category">
            <mat-option
              *ngFor="let category of categories"
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            id="description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Créer L'annonce
        </button>
        <button mat-button type="reset" (click)="closeDialog()">Annuler</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
