.custom-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #efedf6;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.form-field {
  flex: 1;
  margin-right: 15px;
}
.form-row {
  display: flex;
  justify-content: space-evenly;
}
mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
mat-form-field {
  width: 100%;
  font-size: 18px;
  height: 75px;
  padding-bottom: 0;
  margin-bottom: 0;
}
mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  min-width: 150px;
  margin-right: 20px;
}
