.item {
  width: 75%;
  background-color: white;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #6c34ec;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.info {
  width: 55%;
  padding: 0 15px;
  font-family: "Roboto", serif;
}

.info-price {
  font-size: 22px;

}
.info-bottom {
  color: #777;
  font-style: italic;
  font-size: 12px;
}
.info-desc{
  color: #777;
  font-style: italic;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
