table {
  width: 80%;
  margin-top: 30px;
}

.search-form {
  width: 90%;  /* Occupe 90% de la largeur de l'écran */
  margin: 0 auto;  /* Centre le formulaire horizontalement */
}

.custom-card {
  border-radius: 12px; /* Arrondi des coins */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Ombre douce */
  padding: 20px;
  background-color: #f9f9f9; /* Fond gris très clair */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-field {
  flex: 1;
  margin-right: 15px;
}

.form-field:last-child {
  margin-right: 0;
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center; /* Centre les boutons */
  gap: 15px; /* Espacement entre les boutons */
  margin-top: 20px;
}

button {
  min-width: 150px; /* Largeur minimale des boutons pour qu'ils aient une taille uniforme */
}

.dialog-btn{
  justify-content: right;
  margin: 7px;

}
