<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div class="sidenav-header">
      <img src="logo-hitech-academy.png" alt="Logo" class="logo">
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/gestion-annonces">
        <mat-icon>view_list</mat-icon>
        <span>Gestion des annonces</span>
      </a>
      <a mat-list-item routerLink="/statistiques">
        <mat-icon>bar_chart</mat-icon>
        <span>Statistiques</span>
      </a>
      <a mat-list-item routerLink="/annonce-management">
        <mat-icon>bar_chart</mat-icon>
        <span>Marketplace</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

