/* Container principal de la sidebar et du contenu */
.sidenav-container {
  height: 100vh; /* Prendre toute la hauteur de l'écran */
  display: flex;
  flex-direction: row;
}

/* Sidebar */
mat-sidenav {
  width: 250px; /* Largeur fixe pour la sidebar */
  background-color: #5c6bc0; /* Couleur plus claire pour la sidebar */
  color: white;
}

/* Contenu principal */
mat-sidenav-content {
  flex-grow: 1; /* Prend tout l'espace disponible */
  padding: 16px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh; /* Prendre toute la hauteur */
  overflow: auto; /* Permet le défilement si le contenu est trop long */
}

.content {
  padding: 16px;
  flex-grow: 1; /* Assurer que le contenu prenne tout l'espace restant */
}

/* Header de la sidebar avec logo */
.sidenav-header {
  text-align: center;
  padding: 24px;
  background-color: #3949ab; /* Ajouter un fond plus foncé derrière le logo */
  border-bottom: 2px solid #ffffff33; /* Ajout d'une bordure subtile pour séparer le header */
}

.logo {
  width: 120px; /* Agrandir la taille du logo */
  height: auto;
  margin-bottom: 20px; /* Augmenter l'espacement en dessous du logo */
  background-color: white; /* Ajouter un fond blanc pour mieux voir le logo */
  padding: 10px;
  border-radius: 10px; /* Ajouter des coins arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajouter une ombre pour faire ressortir le logo */
}

/* Marges pour descendre les onglets */
mat-nav-list {
  margin-top: 50px;
}

mat-nav-list a {
  color: #fff; /* Assurez-vous que le texte est blanc */
  background-color: #7986cb; /* Couleur plus claire pour les onglets */
  padding: 10px;
  border: 1px solid #ffffff33; /* Ajout de contour avec un peu de transparence */
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

mat-nav-list a mat-icon {
  margin-right: 10px;
  margin-bottom: 8px;
  vertical-align: middle;
}

/* Hover state des éléments du menu */
mat-list-item:hover {
  background-color: #9fa8da; /* Changement de la couleur au survol */
  border-color: white; /* Rendre le contour plus visible au survol */
}

h3 {
  color: white;
}
