<div class="page-title">
  <p>Liste des annonces <br /></p>
</div>

<div class="container">
  <div class="page-total-number">
    <p>Nombre d'annonces récuperées : {{ annonces.length }}</p>
  </div>
  <div class="btn-div">
    <button class="btn" (click)="loadDate()">Charger les données</button>
  </div>
</div>
<div class="hr"></div>

<div class="card" *ngFor="let annonce of annonces">
  <div>
    <div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ annonce.titre }}</h5>
    <p class="card-text">{{ annonce.description }}</p>
    <p class="card-text"><strong>Catégorie:</strong> {{ annonce.categorie }}</p>
    <p class="card-text"><strong>Prix:</strong> {{ annonce.prix }} $</p>
    <p class="card-text">
      <strong>Localisation:</strong> {{ annonce.localisation }}
    </p>
    <p class="card-text">
      <small class="text-muted">Postée le {{ annonce.posted_at }}</small>
    </p>
  </div>
</div>
